body
{
    background-color: azure;
}
#title
{
    text-align: center;
}
#infoPanel
{
    text-align: center;
    border: 2px solid black;
}
.content
{
    display: inline-block;
    text-align: left;
    border: 2px solid black;
    margin: 2px;
}